.vs/BDIXTester/v17/.suo
.vs/BDIXTester/v17/Browse.VC.db
bin/Debug-windows-x86_64/BDIXTester/bdix.db
bin/Debug-windows-x86_64/BDIXTester/BDIXTester.exe
bin/Debug-windows-x86_64/BDIXTester/BDIXTester.pdb
bin/Debug-windows-x86_64/BDIXTester/libcurl.dll
bin/Debug-windows-x86_64/BDIXTester/valid.db
bin/objs/Debug-windows-x86_64/BDIXTester/application.obj
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.exe.recipe
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.ilk
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_demo.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_draw.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_impl_dx9.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_impl_dx11.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_impl_win32.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_tables.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui_widgets.obj
bin/objs/Debug-windows-x86_64/BDIXTester/imgui.obj
bin/objs/Debug-windows-x86_64/BDIXTester/main.obj
bin/objs/Debug-windows-x86_64/BDIXTester/renderer.obj
bin/objs/Debug-windows-x86_64/BDIXTester/resource.res
bin/objs/Debug-windows-x86_64/BDIXTester/vc143.idb
bin/objs/Debug-windows-x86_64/BDIXTester/vc143.pdb
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/BDIXTester.lastbuildstate
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/CL.command.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/Cl.items.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/CL.read.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/CL.write.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/link.command.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/link.read.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/link.write.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/rc.command.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/rc.read.1.tlog
bin/objs/Debug-windows-x86_64/BDIXTester/BDIXTester.tlog/rc.write.1.tlog
BDIXTester.sln
BDIXTester.vcxproj
BDIXTester.vcxproj.filters
